@font-face {
    font-family: 'star_jediregular';
    src: url('./fonts/starjedi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
}
body {
    background-image: radial-gradient(rgb(62, 62, 62) 2%, black 40%);
    position: relative;
}

.intro {
    position: absolute;
    margin: 0 auto;
    top: 40%;
    left: 40%;
    z-index: 1;
    animation: intro 6s ease-out 1s;
    color: rgb(75, 213, 238);
    opacity: 0;
    font-size: 200%;
}

.starWars {
    font-family: 'star_jediregular';
    color: black;
    -webkit-text-stroke: 1px yellow;
    font-size: 12vh;
    line-height: 1;
    position: absolute;
    top: 20%;
    left: 45%;
    z-index: 1;
    margin: auto;
    animation: starWars 9s ease-out 9s;
    opacity: 0;
}

.board {
    transform: perspective(300px) rotateX(25deg);
    transform-origin: 50% 100%;
    text-align: justify;
    position: absolute;
    margin-left: -9em;
    font-weight: bold;
    overflow: hidden;
    font-size: 350%;
    height: 50em;
    width: 18em;
    bottom: 0;
    left: 50%;
}

.board:after {
    position: absolute;
    content: ' ';
    bottom: 60%;
    left: 0;
    right: 0;
    top: 0;
}

#content {
    animation: scroll 50s linear 16s;
    position: absolute;
    top: 100%;
}

.crawl,
#title,
#subtitle {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: #FFFF82;
}

#title,
#subtitle {
    text-align: center;
}

.star {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: white;
    z-index: -1;
}

.attack {
    margin: 125px 50px 0px 50px;;
    visibility: hidden;
    padding: 7px 20px;
    border-radius: 10px;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.8);
    font-size: 20px;
    color: rgb(0, 0, 0);
	border: 5px solid transparent;
	border-bottom-color: rgba(0,0,0,0.35);
    background: rgb(248, 224, 4);
    cursor: pointer;
    text-transform: uppercase;
}

.reset {
    margin: 0px 50px 0px 50px;
    visibility: hidden;
    padding: 7px 20px;
    border-radius: 10px;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.8);
    font-size: 20px;
    color: rgb(0, 0, 0);
	border: 5px solid transparent;
	border-bottom-color: rgba(0,0,0,0.35);
    background: rgb(248, 224, 4);
    cursor: pointer;
    text-transform: uppercase;
}

.attack:active{
    margin-top: 130px;
    border-bottom-width: 0;
}

.attack:hover{
    background: rgb(156, 141, 1);
}


article {
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    background-color: white;
    width: 180px;
    margin: 0 auto;
    border-radius: 10px;
}

img {
    padding: 10px;
    height: 200px;
}

p {
    margin: 0;
    font-family: "star_jediregular";
}

.player-area,
.enemy-area {
    height: 300px;
    width: 400px;
    position: relative;
    z-index: 99;
}

.enemy-area {
    background-color: black;
    border-radius: 10px;
    border: 2px solid red;
    box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.781), 4px 0 8px 0 rgba(255, 0, 0, 0.781)
    ,0 -4px 8px 0 rgba(255, 0, 0, 0.781), -4px 0 8px 0 rgba(255, 0, 0, 0.781);

}

.player-area {
    background-color: black;
    border-radius: 10px;
    border: 2px solid blue;
    box-shadow: 0 4px 8px 0 rgba(0, 4, 255, 0.781), 4px 0 8px 0 rgba(0, 4, 255, 0.781)
    ,0 -4px 8px 0 rgba(0, 4, 255, 0.781), -4px 0 8px 0 rgba(0, 4, 255, 0.781);
}

.main {
    display: flex;
    flex-direction: column;
    opacity: 0;
    margin-left: 300px;
    position: relative;
    height: 100vh;
    animation: fadein 1s linear 40s;
    /* animation: fadein 1s linear 2s; */
    animation-fill-mode: both;
}

.area {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    color: black;
    -webkit-text-stroke: 1px yellow;
    font-family: "star_jediregular";
    font-size: 12vh;
}

h2 {
    font-family: "star_jediregular";
    color: white;
    text-shadow: 0 4px 8px #487fe6;
}

.player,
.enemy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sidebar {
    opacity: 1;
    text-align: center;
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(71, 71, 71);
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    animation: fadein 1s linear 40s;
    /* animation: fadein 1s linear 2s; */
    animation-fill-mode: both;
}

.character:hover {
    animation: expand 0.25s linear;
    animation-fill-mode: both;
}

#result {
    position: absolute;
    top: 70%;
    left: 30%;
}

@keyframes expand {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

@keyframes intro {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes starWars {
    0% {
        transform: scale(2.75);
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(0.1);
    }
}

@keyframes scroll {
    0% {
        top: 100%;
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        top: -170%;
    }
}

@keyframes fadein {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1224px) {
    .player-area,
    .enemy-area {
        width: 350px;
    }

    .buttonbox {
        width: 150px;
    }
    
    .reset {
        margin: 0px 20px 0px 20px;
    }

    .attack {
        margin: 125px 20px 0px 20px;
    }

    #result {
        left: 20%;
    }

    .intro {
        left: 33%;
    }

    .starWars {
        font-size: 10vh;
    }

    .sidebar {
        width: 200px;
    }

    .main {
        margin-left: 300px;
    }
}

